In [3]:
import os

In [1]:
import pandas as pd
print(pd.__version__)

2.3.0

In [4]:
file_path = os.path.expanduser("~/Desktop/plp/Data/E0.csv")

In [5]:
df = pd.read_csv(file_path)

In [6]:
df.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10

In [7]:
df

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,25/05/2025,16:00,Newcastle,Everton,0,1,A,0,0,...,2.00,1.85,2.01,1.90,2.01,1.95,1.95,1.91,1.93,2.05
376,E0,25/05/2025,16:00,Nott'm Forest,Chelsea,0,1,A,0,0,...,1.80,2.05,1.86,2.08,1.86,2.08,1.81,2.05,1.86,2.14
377,E0,25/05/2025,16:00,Southampton,Arsenal,1,2,A,0,1,...,2.03,1.83,2.04,1.87,2.07,1.87,2.03,1.83,2.06,1.89
378,E0,25/05/2025,16:00,Tottenham,Brighton,1,4,A,1,0,...,1.95,1.90,2.00,1.93,2.01,1.93,1.95,1.89,2.06,1.93
379,E0,25/05/2025,16:00,Wolves,Brentford,1,1,D,0,1,...,1.85,2.00,1.90,2.03,1.90,2.05,1.85,1.97,1.89,2.10

In [8]:
df.shape

(380, 120)

In [9]:
df.columns.tolist()

['Div',
 'Date',
 'Time',
 'HomeTeam',
 'AwayTeam',
 'FTHG',
 'FTAG',
 'FTR',
 'HTHG',
 'HTAG',
 'HTR',
 'Referee',
 'HS',
 'AS',
 'HST',
 'AST',
 'HF',
 'AF',
 'HC',
 'AC',
 'HY',
 'AY',
 'HR',
 'AR',
 'B365H',
 'B365D',
 'B365A',
 'BWH',
 'BWD',
 'BWA',
 'BFH',
 'BFD',
 'BFA',
 'PSH',
 'PSD',
 'PSA',
 'WHH',
 'WHD',
 'WHA',
 '1XBH',
 '1XBD',
 '1XBA',
 'MaxH',
 'MaxD',
 'MaxA',
 'AvgH',
 'AvgD',
 'AvgA',
 'BFEH',
 'BFED',
 'BFEA',
 'B365>2.5',
 'B365<2.5',
 'P>2.5',
 'P<2.5',
 'Max>2.5',
 'Max<2.5',
 'Avg>2.5',
 'Avg<2.5',
 'BFE>2.5',
 'BFE<2.5',
 'AHh',
 'B365AHH',
 'B365AHA',
 'PAHH',
 'PAHA',
 'MaxAHH',
 'MaxAHA',
 'AvgAHH',
 'AvgAHA',
 'BFEAHH',
 'BFEAHA',
 'B365CH',
 'B365CD',
 'B365CA',
 'BWCH',
 'BWCD',
 'BWCA',
 'BFCH',
 'BFCD',
 'BFCA',
 'PSCH',
 'PSCD',
 'PSCA',
 'WHCH',
 'WHCD',
 'WHCA',
 '1XBCH',
 '1XBCD',
 '1XBCA',
 'MaxCH',
 'MaxCD',
 'MaxCA',
 'AvgCH',
 'AvgCD',
 'AvgCA',
 'BFECH',
 'BFECD',
 'BFECA',
 'B365C>2.5',
 'B365C<2.5',
 'PC>2.5',
 'PC<2.5',
 'MaxC>2.5',
 'MaxC<2.5',
 'AvgC>2.5',
 'AvgC<2.5',
 'BFEC>2.5',
 'BFEC<2.5',
 'AHCh',
 'B365CAHH',
 'B365CAHA',
 'PCAHH',
 'PCAHA',
 'MaxCAHH',
 'MaxCAHA',
 'AvgCAHH',
 'AvgCAHA',
 'BFECAHH',
 'BFECAHA']

In [10]:
df.__len__

<bound method DataFrame.__len__ of     Div        Date   Time       HomeTeam     AwayTeam  FTHG  FTAG FTR  HTHG  \
0    E0  16/08/2024  20:00     Man United       Fulham     1     0   H     0
1    E0  17/08/2024  12:30        Ipswich    Liverpool     0     2   A     0
2    E0  17/08/2024  15:00        Arsenal       Wolves     2     0   H     1
3    E0  17/08/2024  15:00        Everton     Brighton     0     3   A     0
4    E0  17/08/2024  15:00      Newcastle  Southampton     1     0   H     1
..   ..         ...    ...            ...          ...   ...   ...  ..   ...
375  E0  25/05/2025  16:00      Newcastle      Everton     0     1   A     0
376  E0  25/05/2025  16:00  Nott'm Forest      Chelsea     0     1   A     0
377  E0  25/05/2025  16:00    Southampton      Arsenal     1     2   A     0
378  E0  25/05/2025  16:00      Tottenham     Brighton     1     4   A     1
379  E0  25/05/2025  16:00         Wolves    Brentford     1     1   D     0

     HTAG  ... B365CAHH B365CAHA  PCAHH  PCAHA  MaxCAHH  MaxCAHA  AvgCAHH  \
0       0  ...     1.86     2.07   1.83   2.11     1.88     2.11     1.82
1       0  ...     2.05     1.88   2.04   1.90     2.20     2.00     1.99
2       0  ...     2.02     1.91   2.00   1.90     2.05     1.93     1.99
3       1  ...     1.87     2.06   1.86   2.07     1.92     2.10     1.83
4       0  ...     1.87     2.06   1.88   2.06     1.89     2.10     1.82
..    ...  ...      ...      ...    ...    ...      ...      ...      ...
375     0  ...     2.00     1.85   2.01   1.90     2.01     1.95     1.95
376     0  ...     1.80     2.05   1.86   2.08     1.86     2.08     1.81
377     1  ...     2.03     1.83   2.04   1.87     2.07     1.87     2.03
378     0  ...     1.95     1.90   2.00   1.93     2.01     1.93     1.95
379     1  ...     1.85     2.00   1.90   2.03     1.90     2.05     1.85

     AvgCAHA  BFECAHH  BFECAHA
0       2.05     1.90     2.08
1       1.88     2.04     1.93
2       1.87     2.02     1.96
3       2.04     1.88     2.11
4       2.05     1.89     2.10
..       ...      ...      ...
375     1.91     1.93     2.05
376     2.05     1.86     2.14
377     1.83     2.06     1.89
378     1.89     2.06     1.93
379     1.97     1.89     2.10

[380 rows x 120 columns]>